<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="replace" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".MustDoApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToDo"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ToDo">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="mustdo" />
                <data android:host="task" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="com.example.todo.MainActivityOrange"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_orange"
            android:roundIcon="@mipmap/ic_launcher_orange_round"
            android:label="@string/app_name"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.example.todo.MainActivityPurple"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_purple"
            android:roundIcon="@mipmap/ic_launcher_purple_round"
            android:label="@string/app_name"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.example.todo.MainActivityRed"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_red"
            android:roundIcon="@mipmap/ic_launcher_red_round"
            android:label="@string/app_name"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.example.todo.MainActivityBlue"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_blue"
            android:roundIcon="@mipmap/ic_launcher_blue_round"
            android:label="@string/app_name"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.example.todo.MainActivityMonochrome"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_monochrome"
            android:roundIcon="@mipmap/ic_launcher_monochrome_round"
            android:label="@string/app_name"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.example.todo.MainActivityEmerald"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_emerald"
            android:roundIcon="@mipmap/ic_launcher_emerald_round"
            android:label="@string/app_name"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.example.todo.MainActivityCream"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_cream"
            android:roundIcon="@mipmap/ic_launcher_cream_round"
            android:label="@string/app_name"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.example.todo.MainActivityMidnight"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_midnight"
            android:roundIcon="@mipmap/ic_launcher_midnight_round"
            android:label="@string/app_name"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                tools:node="remove" />
        </provider>
        <receiver
            android:name=".core.notification.TaskNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="com.example.todo.action.TRIGGER_REMINDER" />
                <action android:name="com.example.todo.action.TRIGGER_DAILY_AGENDA" />
                <action android:name="com.example.todo.action.TRIGGER_WEEKLY_REVIEW" />
                <action android:name="com.example.todo.action.TRIGGER_OVERDUE_CHECK" />
                <action android:name="com.example.todo.action.COMPLETE_TASK" />
                <action android:name="com.example.todo.action.ARCHIVE_TASK" />
                <action android:name="com.example.todo.action.SNOOZE_15M" />
                <action android:name="com.example.todo.action.SNOOZE_30M" />
                <action android:name="com.example.todo.action.SNOOZE_1H" />
                <action android:name="com.example.todo.action.SNOOZE_TOMORROW" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Glance Widgets -->
        <receiver android:name=".features.widget.TodayTasksWidgetReceiver"
            android:label="@string/widget_today_tasks_label"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.todo.action.UPDATE_WIDGETS" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/today_tasks_widget_info" />
        </receiver>

        <receiver android:name=".features.widget.FocusQuickWidgetReceiver"
            android:label="@string/widget_focus_quick_label"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.todo.action.UPDATE_WIDGETS" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/focus_quick_widget_info" />
        </receiver>

        <receiver android:name=".features.widget.StreakXpWidgetReceiver"
            android:label="@string/widget_streak_xp_label"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.todo.action.UPDATE_WIDGETS" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/streak_xp_widget_info" />
        </receiver>
        
    </application>

</manifest>